.mountain-img {
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  width: 400px;
}

.mountain-container {
  margin-top: 150px;
  margin-left: 500px;
  margin-right: 500px;
}

.mountain-info-container {
}
