.mountain-img {
  background-repeat: no-repeat;
  background-size: contain;
  height: 440px;
  width: 670px;
  ;

}

.mountain-container {
  margin-top: 100px;

}

.mountain-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Mnt-dropdownbtn{
margin-top: 45px;

}
